# Server Configuration
PORT = 3001
NODE_ENV = development

# Database Configuration (PostgreSQL)
DB_USERNAME = ""
DB_HOST = ""
DB_DATABASE = ""
DB_PASSWORD = ""
DB_PORT = ""
DB_CONNECTION_LIMIT = ""

# Logging Configuration
LOG_DURATION = ""
LOG_LEVEL = ""
LOG_CHANNEL = ""

ALLOWED_ORIGINS = "";